header {
	position: fixed;
	width: 100%;
	z-index: 1;
}

div {
	text-align: center;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

.intro-block {
	padding-top: 100px;
	font-family: 'Bree Serif', serif;
}

.intro-container {
	background-image: url("landscapeNY.JPG");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:auto;
	height:700px;
	color: #FEE100;
	text-shadow: black 2px 2px;
}

.projects-container {
	background-color: blue;
	width:auto;
	height:594px;
	display: block;
}


.contact-container {
	background-color: #FEE100;
	width:auto;
	height:20%;
	display: block;
}

.name {
	text-decoration: underline;
	font-size: 350%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-bar {
	margin-top: 0;
	background-color: grey;
	width: auto;
	height: 75px;
	position: relative;
	display: block;
}

.position {
	font-size: 200%;
}

.user-pic {
	display: block;
	width: 170px;
	height: 170px;
	margin: 20px auto;
	border: 4px solid white;
	border-radius: 100px;
	background-image: url("davidBicanic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.drop {
	float: left;
}


.drop a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.drop a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.drop.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
    display: block;
}

.projectLogo {
	width: 200px;
	height: 50px;
}

.socialLogo {
	width: 75px;
	height: 75px;
}

#studybuddy {
	padding-top: 200px;
	background-color: #27C3DF;
	height: 100%;
	width: 100%;
	padding-bottom: 200px;
}

#Progress {
	padding-top: 200px;
	background-color: #69D2E7;
	height: 100%;
	width: 100%;
	padding-bottom: 200px;
}

.logo {
	margin-left: 2.5%;
	width: 300px;
	height: 100px;
}

.desc {
	width: 60%;
	height: 40%;
	position: relative;
	border: 2px dotted black;
	margin-left: 20%;
	padding: 20px;
	font-size: 125%;
	margin-top: 20px;
	z-index: 0;
}

#sb {
	background-color: #F5760F;
}

#pro {
	background-color: #E0E4CC;
}

.desc li {
	margin-top: 15px;
	margin-right: 15px;
	display: inline-block;
}

#contact p {
	padding-top: 0;
	padding-right: 10px;
	display: inline-block;
}

.contact-info {
	padding-top: 10px;
}
